
::-webkit-scrollbar{
  display: none;
  transition:0.3s linear;
}

.audio-waves {
  display: flex;
  align-items: center;
}

.wave {
  width: 5px;
  height: 25px;
  margin: 0 2px;
  background: white;
  animation: wave-animation 1.2s infinite ease-in-out;
  animation-delay: calc(0.15s * var(--i));
}

.wave:nth-child(1) { --i: 1; }
.wave:nth-child(2) { --i: 2; }
.wave:nth-child(3) { --i: 3; }
.wave:nth-child(4) { --i: 4; }
.wave:nth-child(5) { --i: 5; }

@keyframes wave-animation {
  0%, 100% { height: 10px; }
  20% { height: 30px; }
  40% { height: 20px; }
  60% { height: 35px; }
  80% { height: 15px; }
}
